/* Add CSS Styling */

p {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.haler {
    color: blue;
    font-size: 36px;
}

.sleep {
    font-size: 24px;
}

.ganern {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}