/* Add CSS Styling */


button.black {
    background-color: black;
    color: white;
}

button.yellow {
    background-color: yellow;
    color: black;
}

button.black, button.yellow {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    
}