div {
    background-color: red;
    color: white;
    font-size: 50px;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
    background-color: green;
}

button {
    background-color: orange;
    font-size: 20px;
}